<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2>
        Projects 
        <%= link_to("#project-new-form", class: "btn btn-primary btn-xs", data: {toggle: "modal"}) do %>
          <span class="glyphicon glyphicon-plus"></span> Add
        <% end %>
      </h2>
      <div class="list-group projects-list">
        <% @projects.each do |project| %>
          <%= link_to project.title, project, class: 'list-group-item', remote: true %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-9 project-area">
    </div>
  </div>
</div>

<!-- project form TODO move it to a partial -->
<div class="modal fade" id="project-new-form" tabindex="-1" role="dialog" aria-labelledby="newProjectLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(Project.new) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Project</h4>
        </div>
        <div class="modal-body">
            <%= f.text_field(:title, class: 'form-control', placeholder: 'Title') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
