<ul class="list-group">
  <% hosts.each do |host| %>
  <li class="list-group-item">
    <%= host.name %> - <%= host.address %>
    <% if host.auto %>
      <span class="label label-info">auto</span>
    <% end %>
    <%= link_to "#", class: 'btn btn-default btn-xs' do %>
      <span class="glyphicon glyphicon-play"></span> Check it
    <% end %>
  </li>
  <% end %>
</ul>
