<h3><%= @project.title %></h3>
<ul class="nav nav-tabs" style="margin-bottom: 10px">
  <li class="active"><a href="#hosts" data-toggle="tab">Hosts</a></li>
  <li><a href="#check-history" data-toggle="tab">Check History</a></li>
  <li><a href="#scripts" data-toggle="tab">Scripts</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="check-history">
    <%= render 'checks', checks: @project.checks %>
  </div>
  <div class="tab-pane active" id="hosts">
    <%= render 'hosts', hosts: @project.hosts %>
  </div>
  <div class="tab-pane" id="scripts">
    <%= render 'scripts', scripts: @project.scripts %>
  </div>
</div>
